.overlays-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.8rem;
    margin-top: 1rem;
}

.overlay {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.overlay input {
    padding: 0.3rem;
    border-radius: 5px;
}

.overlay input:read-only {
    outline: none;
    border: 1px solid gray;
}

.input-grp {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    justify-content: center;
    gap: 1%;
}

.btn-grp {
    gap: 0.5rem;
}